.train {
    border: 1px solid black;
    width: 250px;
    border-radius: 25px;
    padding: 10px;
}

.train_BL {
    background-color: #007bc0;
}

.train_RD {
    background-color: #e33144;
}

.train_YL {
    background-color: #fed225;
}

.train_GR {
    background-color: #00ab57;
}

.train_OR {
    background-color: #f79631;
}

.train_SV {
    background-color: #a3a5a2;
}
