.train_BL {
    border: 1px solid black;
    width: 200px;
    border-radius: 25px;
    background-color: #007bc0;
}

.train_RD {
    border: 1px solid black;
    width: 200px;
    border-radius: 25px;
    background-color: #e33144;
}

.train_YL {
    border: 1px solid black;
    width: 200px;
    border-radius: 25px;
    background-color: #fed225;
}

.train_GR {
    border: 1px solid black;
    width: 200px;
    border-radius: 25px;
    background-color: #00ab57;
}

.train_OR {
    border: 1px solid black;
    width: 200px;
    border-radius: 25px;
    background-color: #f79631;
}

.train_SV {
    border: 1px solid black;
    width: 200px;
    border-radius: 25px;
    background-color: #a3a5a2;
}

img {
    width: 50px;
}