.App {
  text-align: center;
  margin: 0 auto;
  height: 100vh;
}

.header {
    background-color: #3e3e3e;
    color: white;
}

h1 {
    margin: 0px;
}

#metroLogo {
    width: 50px;
}

.stationSelect {
    color: white;
    background-color: #4679af;
}

#apiNote {
    font-size: 8pt;
}

button {
    color: white;
}

.dropdown {
    color: white;
}