.App {
    margin: 0 auto;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("./metro_map.jpg");
    text-align: center;
    font-family: "Helvetica Neue";
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: 80px auto 1fr auto;
}

.header { 
    /* in App */
    grid-column: 1/-1;
    grid-row: 1/2;
    background-color: #3e3e3e;
    color: white;
    padding: 10px;
    /* in header */
    display: grid;
    grid-template-columns: 80px auto 1fr;
    grid-template-rows: 60px;
}

h1 {
    margin: 0px;
}

#metroLogo {
    width: 50px;
    grid-column: 1/2;
    grid-row: 1/2;
}

.whereTrain {
    font-size: 28px;
    padding-top: 10px;
    padding-left: 0px;
    grid-column: 2/3;
    grid-row: 1/2;
}



.stations {
    /* in App */
    grid-column: 1/-1;
    grid-row: 2/3;
    color: white;
    background-color: #4679af;
    padding: 20px;
}

#apiNote {
    font-size: 8pt;
}

button {
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

.dropdown {
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

.parallax {
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.results {
    grid-column: 1/-1;
    grid-row: 3/4;
    justify-self: center;
    padding-top: 10px;
}

.wmataName {
    font-size: 12pt;
    /* in App */
    grid-column: 1/-1;
    grid-row: 4/-1;
    background-color: #3e3e3e;
    color: white;
    font-size: 8pt;
    padding: 10px;
}

a {
    color: white;
}