.App {
    margin: 0 auto;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("./metro_map.jpg");
    text-align: center;
    font-family: "Helvetica Neue";
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: 80px auto 1fr auto;
}

.header { 
    /* in App */
    grid-column: 1/-1;
    grid-row: 1/2;
    background-color: #3e3e3e;
    color: white;
    padding: 10px;
    /* in header */
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: repeat(2, auto);
}

h1 {
    margin: 0px;
}

.whereTrain {
    font-size: 28px;
    grid-column: 2/3;
    grid-row: 1/2;
}

.infoGuide {
    grid-column: 2/3;
    grid-row: 2/3;
}

.stations {
    /* in App */
    grid-column: 1/-1;
    grid-row: 2/3;
    color: white;
    background-color: #4679af;
    padding: 20px;
}

#apiNote {
    font-size: 8pt;
}

button {
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    background-color: white;
}

.dropdown {
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

.results {
    /* in App */
    grid-column: 1/-1;
    grid-row: 3/4;
    justify-self: center;
    padding-top: 10px;
    /* in results */
    display: grid;
    grid-template-columns: 40px repeat(3, 1fr) 40px;
    grid-template-rows: 1fr;
}

.resultsInner {
    grid-column: 2/span 3;
}

.footer {
    /* in App */
    grid-column: 1/-1;
    grid-row: 4/-1;
    background-color: #3e3e3e;
    color: white;
    font-size: 8pt;
    padding: 10px;
    /* in footer */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
}

#metroLogo {
    width: 25px;
    grid-column: 2/3;
    grid-row: 1/-1;
}

#power {
    grid-column: 3/4;
    grid-row: 1/-1;
    padding-top: 3px;
}

a {
    color: white;
}